body {margin:0px; color:#FFFFFF}
#pagewrap {margin: 0px auto;}
#content {position: absolute; width: 100%;}
#content {
	position: absolute;
}
img{
    max-width: 100%;
	border: 0 none;
    vertical-align: middle;
	 width: 100%;
	 text-align:center;
}
.detail{
	cursor: pointer;
    height:10%;
    position: absolute;
    top: 65.7%;
    width: 18%;
	right:1%;
}
.form_box {
    left: 0;
    position: absolute;
    top: 21%;
    width: 100%;
}
.name02 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 11px;
    font-size: 12px;
    font-style: italic;
    height: 16.46%;
    left: 27%;
    position: absolute;
    text-indent: 10px;
    top: 3.8%;
    width: 67.8%;
}
.tel02 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 11px;
    font-size: 12px;
    font-style: italic;
    height: 16.46%;
    left: 27%;
    position: absolute;
    text-indent: 10px;
    top: 26.8%;
    width: 67.8%;
}
.email02 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 11px;
    font-size: 12px;
    font-style: italic;
    height: 16.46%;
    left: 27%;
    position: absolute;
    text-indent: 10px;
    top: 49.8%;
    width: 62.8%;
}
.address02 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 11px;
    font-size: 12px;
    font-style: italic;
    height: 16.46%;
    left: 27%;
    position: absolute;
    text-indent: 10px;
    top: 73.8%;
    width: 67.8%;
}
.tijaio02 {
    cursor: pointer;
    left: 40%;
    position: absolute;
    top: 36.4%;
    width: 32.3%;
}
#winline{
	left: 0;
    position: absolute;
    top: 53.22%;
    width: 100%;
	display:block;
	height:5%;
	width:5%;
}
.luck_name_box {
    left: 0;
    position: absolute;
    top: 52%;
    width: 100%;
}
.luck_name_box2{
    left: 0;
    position: absolute;
    top: 72%;
    width: 100%;
}

.list01 {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.list01 h3 {
    color:#FFF;
    font-size: 20px;
    font-weight: 500;
    left: 10%;
    margin: 0;
    position: relative;
}
.dat-UserName{
	margin-right:6px;
}


p {
    color:#FFF;
    font-weight: 500;
    left: 20%;
    margin: 3px 0px 3px 0px;
    position: relative;
}